<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Learn about job openings at Jovian and submit your application now"
    />
    <meta name="keywords" content="data science, software development, jobs" />
    <meta name="author" content="Jovian" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Jovian Careers" />
    <meta
      property="og:description"
      content="Learn about job openings at Jovian and submit your application now"
    />
    <meta property="og:image" content="/jovian_meta.png" />
    <meta name="twitter:title" content="Jovian Careers" />
    <meta
      name="twitter:description"
      content="Learn about job openings at Jovian and submit your application now"
    />
    <meta name="twitter:image" content="/jovian_meta.png" />
    <link rel="icon" href="./jovian_icon.png" type="image/x-icon" />

    <title>Jovian Careers | Powered by Express</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-md">
        <a class="navbar-brand" href="#">
          <img
            id="logo"
            alt="Jovian Logo"
            src="https://i.imgur.com/JRA5Q8a.png"
            referrerpolicy="no-referrer"
            height="30"
            class="d-md-none"
          />
          <img
            id="logo-with-text"
            alt="Jovian Logo"
            src="https://i.imgur.com/m1wXjqw.png"
            referrerpolicy="no-referrer"
            height="30"
            class="d-none d-md-inline"
          />
        </a>

        <!-- TOGGLE BUTTON -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" target="_blank"
                >Courses</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Programs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">YouTube</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary ms-md-2">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--ABOUT SECTION-->
    <div class="container px-4">
      <div class="row flex-lg-row-reverse align-items-center g-4 py-5">
        <div class="col-11 col-sm-8 col-lg-6">
          <img
            src="https://i.imgur.com/sxbxff5.jpg"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
            referrerpolicy="no-referrer"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Work at Jovian
          </h1>
          <p class="lead">
            At Jovian, we're on a mission to build the world's most highly
            reputed technical university, and we're building it completely
            online. We offer several beginner friendly courses that are taken by
            300,000+ registered users.
          </p>
          <p class="lead">We also offer 2 industry-focused bootcamps:</p>
          <ol class="lead">
            <li>
              <a href="https://www.jovian.com/full-stack-developer-bootcamp">
                Jovian Full Stack Developer Bootcamp
              </a>
            </li>
            <li>
              <a href="https://www.jovian.com/data-science-bootcamp">
                Jovian Data Science Bootcamp
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <!--JOBS-->
    <div class="container px-4 mt-4">
      <h2 class="text-center mb-4">Job Opportunities</h2>
      <!--JOBS LIST-->
      <div class="d-md-none">

        {{#jobs}}
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><a href="/jobs/{{id}}">{{title}}</a></h5>
              <h6 class="card-subtitle my-1 text-body-secondary">
                {{location}} • {{salary}}
              </h6>
              <small class="card-text text-body-secondary">
                Posted {{posted}}
              </small>
            </div>
          </div>
        {{/jobs}}

      </div>
      <!--JOBS TABLE-->
      <div class="offset-lg-2 col-lg-8">
        <table class="d-none d-md-table table table-striped table-bordered">
          <tr class="table-primary text-center">
            <th>Job Title</th>
            <th>Location</th>
            <th>Salary</th>
            <th>Posted On</th>
          </tr>

          {{#jobs}}
            <tr>
              <td><a href="/jobs/{{id}}">{{title}}</a></td>
              <td>{{location}}</td>
              <td>{{salary}}</td>
              <td>{{posted}}</td>
            </tr>
          {{/jobs}}

        </table>
      </div>
      

    </div>



    <!--FOOTER-->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pt-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Courses</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Programs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">YouTube</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Sign In</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Jovian, Inc</p>
      </footer>
    </div>

    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
