@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
  --bs-blue: #2067F5;
  --bs-primary: #2067F5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}
